/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
 *  Bondy
 */

body {
	font-family:'Lato';

}

p {
	line-height: 1.8rem;
}

/* 
 * Base
 */


.scroll{
	overflow-y:scroll;
}

legend {
	font-size: 14px;
	font-weight:700;
	color:rgb(74, 72, 72);
	letter-spacing:2px;
	padding-top:5%;
	padding-bottom:5%;
}


p label{
	padding:2% 0 2%;

}

em {
	color:red;
}
h2 {
	padding-top:5%;
	padding-bottom:4%;		
	font-size: 35px;
	font-weight:400;
	color:rgb(89, 86, 86);
}


h3 {	font-size:13px;
	font-weight:700;
	color:rgb(119, 118, 118);
	letter-spacing:1px;	
	padding-bottom:5%;
	
}


input {
	padding-left:20px;

}

/*
 * Layout----------------------------------------------------------
 */

.container {
	width: 55%;
	margin: 0 auto;
}

.navigation {
	width: 100%;
	position: fixed;
	background-color: white;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: #515357;
}

.fixed{

	position:fixed;
	height: 50px;
	width: 100%;
}

.tictail-logo {
	padding-left: .5rem;
	height:35px;
	width:124px;
}


.heading{
	padding-top: 4rem;
}


.content-form {

	/*padding-left:220px;*/
	/*background-color:rgb(249, 249, 249);*/
	color: #515357;
	/*font-family:'Lato';*/
}

.comments{
	height:100px;
	width:550px;
	font-family:"lato";
	font-size:15px;
	margin-bottom:30%;
}



.application-form {
	width: 100%;
	
}

.application-form label {
	display: inline-block;
	width: 10rem;
}

.application-form input[type="text"] {
	width: 20rem;
	line-height: 1.6rem;
	border: 1px solid rgb(161, 161, 161);
}


/* 
 * Footer
 */

footer {
	height: 200px;
	width: 100%;
	background-color: #EDEEF1;
	text-align: center;
	padding-top: 3% 0 3%;
}

.lever-logo {
	height:24px;
	width: 98px;
}

a .footer-tt-homepage{
	color:red;
}
